section#thank {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 200px 60px 60px;
    justify-content: center;
    gap: 20px;
    background-color: var(--primaryBg);
    h1 {
        font-size: 30px;
    }
    p {
        // width: 20%;
        text-align: center;
        color: gray;
    }
    .link {
        // width: 20%;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        color: white;
        border-radius: 10px;
        background-color: var(--green);
    }
}