#dropdown-window {
  position: relative;
  background-color: var(--primaryBg);
  transition: all ease-in-out 0.6s;
  z-index: 35;
  max-width: 1200px;
  height: 84vh;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 3fr 0.7fr;

  .heading {
    display: none;
    padding: 10px 0;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .catalogs {
    border-right: var(--primaryBorder);
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    overflow-y: auto;

    .sidebar-item.active {
      background-color: #00b3a70a;

      button {
        color: black;
      }

      path {
        color: black;
      }
    }

    li {
      width: 100%;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      border-radius: 6px;

      i {
        font-size: 12px;
        color: gray;
      }

      button {
        font-size: 16px;
        text-align: left;
        text-transform: capitalize;
        border: 0;
        background-color: initial;
        color: var(--text-secondary);
        cursor: pointer;
      }

      .arrow-1 {
        display: none;
        cursor: pointer;
      }

      path {
        color: var(--text-secondary);
      }
    }
  }

  .categories {
    width: 100%;
    border-left: 0.5px solid #80808048;
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    gap: 30px;
    overflow-y: auto;
    overflow-x: hidden;

    .categories-heading {
      h4 {
        text-transform: capitalize;
        font-size: 22px;
        font-weight: normal;
        line-height: 18px;
      }
      p {
        font-size: 14px;
        margin-top: 5px;
        color: var(--text-secondary);
      }
    }

    .categories-list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 20px 30px;
      justify-content: space-between;
      text-align: start;
    }

    li {
      button {
        border: 0;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: capitalize;
        text-align: start;
        cursor: pointer;
        &:hover {
          color: var(--green);
          transition: ease-in-out 0.1s;
        }
      }
    }
  }

  .no-categories-text {
    font-size: 20px;
    font-weight: 500;
  }

  .catalogs-nested-categories {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      font-size: 14px;
      text-transform: capitalize;
      color: var(--text-secondary);
    }
  }

  // .brands {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: end;
  //   gap: 10px;
  //   padding-right: 5px;
  //   overflow-x: auto;

  //   img {
  //     border-radius: 6px;
  //   }
  // }

  // .brands::-webkit-scrollbar,
  // .catalogs::-webkit-scrollbar {
  //   height: 4px;
  //   width: 5px;
  // }

  // .brands::-webkit-scrollbar-track,
  // .categories::-webkit-scrollbar-track,
  // .catalogs::-webkit-scrollbar-track {
  //   background-color: var(--primaryBg);
  // }

  // .brands::-webkit-scrollbar-thumb,
  // .catalogs::-webkit-scrollbar-thumb {
  //   background-color: rgba(128, 128, 128, 0.517);
  // }

  .categories::-webkit-scrollbar {
    height: 4px;
    width: 6px;
  }

  .categories::-webkit-scrollbar-thumb {
    background-color: var(--darkGreen);
  }
}

@media only screen and (max-width: 1200px) {
  #dropdown-window {
    max-width: 1000px;
  }
}

@media only screen and (max-width: 960px) {
  #dropdown-window {
    display: flex;
    flex-direction: column;
    max-width: 840px;
    height: 98vh;
    margin-top: -60px;
    padding: 0 50px;

    .heading {
      display: block;
    }

    .catalogs {
      width: 100%;

      li {
        border-bottom: 1px solid var(--primaryBorder);

        button {
          font-size: 18px;
        }

        .arrow-0 {
          display: none;
        }

        .arrow-1 {
          display: inline-block;
        }
      }

      .sidebar-item.active {
        background-color: var(--primaryBg);
        span {
          color: var(--green);
        }

        path {
          color: black;
        }
      }
    }

    .categories {
      display: none;
    }
  }
}

@media only screen and (max-width: 500px) {
  #dropdown-window {
    padding: 0 20px;
    height: 110vh;
  }
}
