#dropdown-window {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    background-color: white;
    transition: all ease-in-out 0.6s;
    z-index: 6;
    padding: 0 60px;

    .catalogs {
        width: 25%;
        border-right: 1px solid #80808048;
        display: flex;
        flex-direction: column;
        color: black;
        overflow-x: scroll;
        padding-top: 30px;

        li {
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: rgba(180, 237, 218, 0.259);
            }

            i {
                font-size: 15px;
                color: gray;
            }

            button {
                font-size: 20px;
                border: 0;
                background-color: initial;
                color: var(--gray);
            }
        }
    }

    .categories {
        width: 60%;
        border-left: 1px solid #80808048;
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        flex-direction: column;
        gap: 30px;

        .categories-list {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;

            p {
                padding: 5px 0;
            }
        }

        h3 {
            font-size: 30px;
            font-weight: normal;
        }

        li {
            button {
                background-color: white;
                border: 0;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 5px;
                cursor: pointer;
                &:hover {
                    color: var(--green);
                    transition: ease-in-out 0.1s;
                }
            }
        }
    }
}