#liked {
    width: 100%;
    padding: 220px 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    section#data {
        width: 68%;
        padding: 20px;
        border: 1px solid;
        border-radius: 10px;
        border: 0.5px solid rgba(128, 128, 128, 0.363);
        .data-head {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            h3 {
                font-size: 40px;
                font-weight: normal;
            }
            button {
                width: 13%;
                font-size: 18px;
                color: rgb(255, 45, 90);
                background-color: inherit;
                border: 0;
                display: flex;
                border-radius: 10px;
                gap: 20px;
                align-items: center;
                transition: all ease-in-out 0.4s;
                padding: 5px;
                justify-content: center;
                &:active {
                    border: 0.7px solid rgb(255, 45, 90);
                }
            }
        }
        .data-body {
            width: 100%;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            .card {
                width: 22%;
                height: 420px;
                p {
                    text-align: start;
                }
            }
        }
    } 
}