.no-products {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px;
    .start {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .link {
            width: max-content;
            text-align: center;
            padding: 5px 10px;
            background-color: var(--green);
            border: 0;
            font-size: 20px;
            border-radius: 8px;
            color: white;
            transition: all ease-in-out 0.4s;
            &:active {
                background-color: rgb(0, 123, 255);
            }
        }
        p {
            color:  gray;
        }
    }
}