.filter-products {
    padding: 220px 120px 60px;
   

    .filter-head{
        h2{
            font-size: 40px;
            margin-bottom: 6px;
        }
        p{
            color: var(--gray);
            span{
                color: black;
                font-weight: bold;
            }
        }
    }

    .filter-body{
        width: 100%;
        display: grid;
        grid-template-columns: 22% 75%;
        justify-content: space-between;
        margin-top: 40px;
    }

    .filter-aside{
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .sort {
            width: 100%;
            background-color: white;
            padding: 15px;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            gap: 20px;
            padding-bottom: 30px;
             .from-price, .to-price {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                input {
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;
                    border: 0.5px solid gray;
                    &:focus {
                        box-shadow: 0 0 10px gray;
                    }
                }
                label {
                    width: 100%;
                    color: gray;
                }
            }

            .sort-type{
                li{
                    display: flex;
                    gap: 6px;
                }
            }
        }
    }

    .filter-catalog {
        &__selections {
            display: grid;
            grid-template-columns: repeat(3, 32%);
            justify-content: space-between;

            select {
                display: flex;
                padding: 10px;
                border-radius: 6px;
                border: none;
                width: 100%;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 2px;

                option {
                    padding: 10px 0;
                }

                &:hover {
                    border: 1px solid rgba(128, 128, 128, 0.699);
                    padding: 9px;
                }
            }
            select:focus-visible{
                outline: none;
                border: 0;
            }
        }

        .data-body {

            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 18.5%);
            justify-content: space-between;
            gap: 30px;
            margin-top: 30px;

            .card {
                width: 100%;

                p {
                    text-align: start;
                }
            }
        }
    }
}