.auth-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 50;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  backdrop-filter: blur(8px);

  .block {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); // Adds a soft shadow for depth
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.02); // Slight scale-up on hover
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); // Intensifies the shadow on hover
    }

    .close-auth-modal {
      position: absolute;
      top: 0px;
      right: 0px;
      background-color: initial;
      padding: 15px 20px;
      font-size: 20px;
      border: none;
      color: gray;
      font-weight: bold;
      cursor: pointer;
    }

    .start_auth {
      background-color: var(--green);
      padding: 40px 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 18px;

      .img_head {
        width: 50%;
      }

      h3 {
        color: white;
        width: 70%;
        margin-top: 20px;
        font-size: 30px;
        font-weight: normal;
      }

      p {
        width: 70%;
        color: rgb(211, 209, 209);
        font-size: 15px;
      }

      .img_footer {
        width: 100%;
      }
    }

    .end_auth {
      align-items: center;

      form#send {
        width: 100%;
        padding: 60px 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        h3 {
          font-size: 30px;
          font-weight: normal;
          color: var(--text-secondary);
        }

        b {
          font-size: 20px;
          font-weight: 500;
          color: var(--darkGreen);
        }

        .data {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          label {
            font-weight: bold;
          }

          input {
            padding: 10px 10px;
            font-size: 15px;
            border: 1px solid var(--primaryBorder);
            border-radius: 10px;
          }

          button {
            bottom: 0px;
            width: 100%;
            margin-top: 100px;
            padding: 10px;
            background-color: var(--green);
            color: white;
            border: 0;
            font-size: 20px;
            border-radius: 10px;

            &:disabled {
              opacity: 40%;
            }
          }
        }
      }

      form#verify {
        width: 100%;
        padding: 100px 20px;
        display: flex;
        flex-direction: column;
        gap: 20%;
        height: 100%;

        .btn-x {
          width: 100%;
          display: flex;
          justify-content: end;

          button {
            width: 8%;
            font-size: 30px;
            background-color: white;
            border: 0;
            color: gray;
            border-radius: 10px;

            &:active {
              border: 1px solid var(--primaryBorder);
            }
          }
        }

        h3 {
          text-align: center;
          color: gray;
        }

        .data {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          input {
            padding: 10px 5px;
            text-align: center;
            font-size: 30px;
            border: 1px solid var(--primaryBorder);
            border-radius: 10px;
          }

          button {
            width: 100%;
            padding: 10px;
            background-color: var(--green);
            color: white;
            border: 0;
            font-size: 20px;
            border-radius: 10px;

            &:disabled {
              opacity: 40%;
            }
          }
        }
      }

      form#login {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30%;

        .btn-x {
          width: 100%;
          display: flex;
          justify-content: end;

          button {
            width: 8%;
            font-size: 30px;
            background-color: white;
            border: 0;
            color: gray;
            border-radius: 10px;

            &:active {
              border: 1px solid var(--primaryBorder);
            }
          }
        }

        .data {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 30px;

          input {
            padding: 10px 20px;
            font-size: 30px;
            border: 1px solid var(--primaryBorder);
            border-radius: 10px;
          }

          button {
            width: 100%;
            padding: 10px;
            background-color: var(--green);
            color: white;
            border: 0;
            font-size: 20px;
            border-radius: 10px;

            &:disabled {
              opacity: 40%;
            }
          }
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  animation: fadeIn 0.4s ease-out;

  .block {
    animation: fadeIn 0.4s ease-out;
  }
}

.auth-hyper-link {
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
  color: #00b3a8;
  cursor: pointer;
}
.register-next-btn {
  margin-top: 50px !important;
}

@media only screen and (max-width: 1200px) {
  .auth-modal {
    .block {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 960px) {
  .auth-modal {
    .block {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 740px) {
  .auth-modal {
    .block {
      width: 90%;
      border-radius: 6px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .auth-modal {
    .block {
      grid-template-columns: 1fr;
      margin-top: -100px;
      width: 95%;

      .start_auth {
        display: none;
      }

      .end_auth {
        form#send {
          padding: 15px 10px 30px;
        }
      }
    }
  }
}
