#unauth_prods {
  .heading {
    margin-bottom: 20px;
  }
  .data-body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    .card {
      p {
        text-align: start;
      }
    }
  }
}
