.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--primaryBorder);
  border-radius: 8px;
  background-color: var(--primaryBg);
  padding: 5px;
  transition: transform 0.2s;

  .clicklable_link {
    width: 100%;

    .img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(128, 128, 128, 0.093);
      border-radius: 6px;
      padding: 0 5px;
      img {
        max-width: 100%;
        border-radius: 4px;
        height: 200px;
      }
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;

    p {
      font-size: 14px;
      text-transform: capitalize;
      &:hover {
        color: var(--green);
      }
    }

    .edit {
      color: green;
      cursor: pointer;
    }
    .edit:hover {
      color: var(--edit-hover);
    }
    .delete {
      color: var(--delete);
      cursor: pointer;
    }

    .delete:hover {
      color: red;
    }
  }

  .old-price {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: normal;
    color: gray;
  }
  .discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
      font-size: 10px;
      padding: 5px;
      border-radius: 20px;
      color: white;
      background-color: #df4c5a;
    }
  }

  .end {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    button {
      width: 100%;
      background-color: rgb(33, 103, 103);
      border: 0;
      border-radius: 10px;
      padding: 6px;
      color: white;
      transition: all ease-in-out 0.3s;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: rgb(33, 125, 125);
      }
    }

    .add-to-cart {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      background-color: rgb(33, 103, 103);
      color: white;
      border-radius: 6px;
      padding: 4px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  button.add-to-like {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 0;
    padding: 5px;
    background-color: var(--primaryBg);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }

  button.add-to-like.active {
    color: var(--green);
  }
}

.card:hover {
  transform: scale(1.05);
}
