.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primaryBorder);
  border-radius: 8px;
  background-color: var(--primaryBg);
  padding: 5px;
  transition: transform 0.2s;

  .clicklable_link {
    width: 100%;

    .img-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(128, 128, 128, 0.093);
      border-radius: 6px;
      padding: 0 5px;
      img {
        max-width: 100%;
        border-radius: 4px;
        height: 200px;
      }
    }
    p {
      font-size: 14px;
      text-transform: capitalize;
      margin-bottom: 18px;
      margin-top: 10px;
      &:hover {
        color: var(--green);
      }
    }
    .old-price {
      text-decoration: line-through;
      font-size: 14px;
      font-weight: normal;
      color: gray;
    }
    h4 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 10px;
        padding: 5px;
        border-radius: 20px;
        color: white;
        background-color: #df4c5a;
      }
    }
  }
  .end {
    width: 100%;
    display: flex;
    flex-direction: column;
    button {
      width: 100%;
      background-color: rgb(33, 103, 103);
      border: 0;
      border-radius: 10px;
      padding: 6px;
      color: white;
      transition: all ease-in-out 0.3s;
      position: relative;
      cursor: pointer;
      &:hover {
        background-color: rgb(33, 125, 125);
      }
    }
  }
  button.add-to-like {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    border: 0;
    padding: 5px;
    background-color: var(--primaryBg);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
  }
  button.add-to-like.active {
    color: var(--green);
  }
}

.card:hover {
  transform: scale(1.05);
}
