.skeleton-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

@media only screen and (max-width: 960px) {
  .skeleton-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 740px) {
  .skeleton-container {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
}
