#catalogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100vw - 300px);
  //   width: 100%;

  .form__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    form {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;

      h3 {
        margin-bottom: 15px;
        font-size: 18px;
        color: #333;
      }

      input,
      select {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
        text-transform: capitalize;
      }

      .btn {
        width: 100%;
        padding: 10px;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        cursor: pointer;

        &:hover {
          background: #0056b3;
        }
      }
    }
  }

  .results {
    margin-top: 20px;

    .catalog {
      background: #fff;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .global-wrapper {
        display: flex;
      }

      .delete {
        color: var(--delete);
        cursor: pointer;
      }
      .delete:hover {
        color: red;
      }

      .edit {
        color: green;
        cursor: pointer;
      }
      .edit:hover {
        color: var(--edit-hover);
      }

      h4 {
        font-size: 24px;
        color: #007bff;
        margin-bottom: 15px;
        margin-right: 20px;
      }

      .category {
        display: grid;
        grid-template-columns: repeat(10, auto);
        justify-content: space-between;
        // gap: 40px;
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;

          h5 {
            font-size: 20px;
            margin-bottom: 10px;
            color: rgb(162, 114, 24);
            margin-right: 10px;
          }

          ul {
            padding-left: 5px;

            li {
              font-size: 14px;
              color: #666;
              margin-right: 5px;
            }
          }
        }
      }

      .actions {
        .edit,
        .delete {
          cursor: pointer;
          margin-left: 10px;
          font-size: 18px;

          &:hover {
            color: red;
          }
        }
      }

      ul {
        margin-left: 20px;
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 5px;
        }
      }
    }

    .modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      overflow: hidden;
      z-index: 100;
      animation: fadeIn 0.3s ease-in-out;

      .modal-header {
        background: #007bff;
        color: white;
        text-align: center;
        padding: 15px;
        font-size: 18px;
        font-weight: bold;
      }

      .modal-content {
        padding: 20px;
        text-align: center;
        font-size: 16px;
        color: #333;

        p {
          margin-bottom: 20px;
        }

        button {
          margin: 0 10px;
          padding: 10px 20px;
          font-size: 14px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background 0.3s ease;

          &.confirm {
            background: #28a745;
            color: white;

            &:hover {
              background: #218838;
            }
          }

          &.cancel {
            background: #dc3545;
            color: white;

            &:hover {
              background: #c82333;
            }
          }
        }
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translate(-50%, -60%);
      }
      to {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}
