#partners {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  padding: 60px 120px;
  margin: 0 auto;
  background-color: var(--primaryBg);

  img {
    width: 40%;
    border-radius: 10px;
  }

  .partners-skeleton span {
    height: 80px;
  }

  .partners-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h3 {
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 10px;
    }
    p {
      color: var(--text-secondary);
    }

    .logo {
      background-color: white;
      padding: 10px;
      text-align: center;
      border-radius: 6px;
      box-shadow: 10px 10px 10px #d2cece62;
      transition: all ease-in-out 0.4s;

      img {
        width: 100%;
        // min-height: 60px;
        object-fit: contain;
        border-radius: 6px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .partners-grid-common {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  #partners {
    padding: 50px 100px;
    gap: 25px;
  }
}

@media (max-width: 960px) {
  #partners {
    padding: 50px 80px;
    flex-direction: column-reverse;
    gap: 40px;

    .partners-skeleton span {
      height: 60px;
    }

    img {
      width: 100%;
    }

    .partners-right {
      width: 100%;
      .partner-logos {
        margin: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  #partners {
    padding: 40px 50px;
  }
}

@media only screen and (max-width: 500px) {
  #partners {
    padding: 30px 20px;

    .partners-grid-common {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }
}
