section#categories {
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h2 {
        font-weight: normal;
    
    }

    ul.links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        .link-btn {
            width: 14.5%;
            background-color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 10px 10px 10px #80808062;
            transition: all ease-in-out 0.4s;

            &:hover {
                box-shadow: 5px 5px 10px #80808062;
            }
        }
    }
}