.categories {
    width: 100%;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__heading {
        font-size: 22px;
        text-align: center;
    }

    ul.links {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        li{
            width: 241px;
            background-color: white;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 6px 6px 8px #80808062;
            transition: all ease-in-out 0.3s;
    
            &:hover {
                box-shadow: 3px 3px 6px #80808062;
            }

        }
    }
}