#wallet {
  display: grid;
  grid-template-columns: 2fr 5fr;
  justify-content: space-between;
  gap: 20px;
  padding: 200px 120px 60px;
  background-color: var(--primaryBg);
  #data {
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    border: 0.5px solid rgba(128, 128, 128, 0.363);

    .data-head-1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h3 {
        font-size: 40px;
        font-weight: normal;
      }

      p {
        font-size: 18px;
        color: var(--greenSlightDark);
      }
    }

    .data-head-2 {
      p {
        color: #808080;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  #wallet {
    padding: 200px 100px 60px;
  }
}

@media only screen and (max-width: 960px) {
  #wallet {
    padding: 200px 80px 50px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 740px) {
  #wallet {
    padding: 200px 50px 50px;
    #data {
      border-radius: 6px;
      padding: 20px;
      .data-head-1 {
        h3 {
          font-size: 28px;
        }
      }

      .data-head-2 {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #wallet {
    padding: 200px 20px 50px;
  }
}
