* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: Inter;
  background-color: #6b75733a;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --primaryBg: #f1f3f3;
  --secondaryBg: #828b89;
  --green: #00b3a8;
  --greenSlightDark: #089d93;
  --darkGreen: #0a6b65;
  --pink: #e0297c;
  --gray: #3b3b3b;
  --black: #100f0f;
  --primaryBorder: rgb(231, 220, 220);
}

.products-container{
  display: grid;
  grid-template-columns: repeat(5, 19%); 
  justify-content: space-between;
  gap: 15px;
}



.container {
  margin: 0 auto;
}



::-webkit-scrollbar {
  width: 6px;
  }


::-webkit-scrollbar-track{
  background-color: var(--primaryBg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondaryBg);
  border-radius: 5px;
}


